@font-face
  font-family: 'retease-icon'
  src:  url('../fonts/retease-icon.eot?sy140v')
  src:  url('../fonts/retease-icon.eot?sy140v#iefix') format('embedded-opentype'),
    url('../fonts/retease-icon.ttf?sy140v') format('truetype'),
    url('../fonts/retease-icon.woff?sy140v') format('woff'),
    url('../fonts/retease-icon.svg?sy140v#retease-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'retease-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-add_circle:before 
  content: "\e900"

.icon-arrow_lift:before 
  content: "\e901"

.icon-check_circle:before 
  content: "\e902"

.icon-close:before 
  content: "\e903"

.icon-comment:before 
  content: "\e904"

.icon-coupon:before 
  content: "\e905"
  color: #2cc17b

.icon-data_no:before 
  content: "\e906"
  color: #cdcdcd

.icon-data_off_line:before 
  content: "\e907"
  color: #bfbfbf

.icon-favorite:before 
  content: "\e908"

.icon-favorite_no:before 
  content: "\e909"
  color: #3c4a55

.icon-favorite_ok:before 
  content: "\e90b"
  color: #2cc17b

.icon-find_no:before 
  content: "\e90c"
  color: #3c4a55

.icon-find_ok:before 
  content: "\e90d"
  color: #2cc17b

.icon-index_no:before 
  content: "\e90e"

.icon-index_ok:before 
  content: "\e90f"
  color: #2cc17b

.icon-infor:before 
  content: "\e910"
  color: #3c4a55

.icon-keyboard_arrow_right:before 
  content: "\e911"

.icon-more:before 
  content: "\e912"
  color: #bfbfbf

.icon-no_user:before 
  content: "\e913"
  color: #e6e6e6

.icon-order:before 
  content: "\e914";
  color: #2cc17b;

.icon-plus:before 
  content: "\e915"
  color: #d81e06

.icon-qq:before 
  content: "\e916"
  color: #3c4a55

.icon-remove_circle_outline:before 
  content: "\e917"

.icon-search:before 
  content: "\e918"

.icon-setting:before
  content: "\e919"
  color: #3c4a55

.icon-shopping_cart:before
  content: "\e91a"

.icon-shopping_ok:before
  content: "\e91b"
  color: #2cc17b

.icon-study_no:before
  content: "\e91c"
  color: #3c4a55

.icon-study_ok:before
  content: "\e91d"
  color: #2cc17b

.icon-thumb_down:before
  content: "\e91e"

.icon-thumb_no:before
  content: "\e91f"
  color: #3c4a55

.icon-thumb_ok:before
  content: "\e920"
  color: #2cc17b

.icon-thumb_up:before
  content: "\e921"

.icon-transpond:before
  content: "\e922"
  color: #3c4a55

.icon-user_no:before
  content: "\e923"

.icon-user_ok:before
  content: "\e924"
  color: #2cc17b

.icon-weibo:before
  content: "\e925"

.icon-weixin:before
  content: "\e926"

.icon-qr_code:before
  content: "\e90a"